*{
    margin: 0;
}

html {
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
}

footer{
    font-size: 11px; 
    text-align: center;
    margin: 0px auto;
    background: #0c0c0c;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a{
    color: hsl(228, 45%, 44%);
}

h1{
    color: #1b2d4b;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400, 700;
}

p{
    color: #7D889E;
    font-size: 15px;
}

.cartao-code{
    text-align: center;
    width: 320px;
    height:  497px;
    background-color: #ffffff;
    border-radius: 15px;
}

#qrcode{
    margin-top: 18px;
    margin-bottom: 18px;
    width: 90%; 
    border-radius: 12px;
}

.cartao-code .texto{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
